.Forecast {
  text-align: center;
  margin: 3px 20px;
}
.Forecast canvas {
  display: block;
  margin: 5px 0;
  height: 36px;
}

.list {
  margin: 10px auto;
  line-height: 30px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
