.Weather {
  border: 1px solid #000000;
  padding: 18px;
  border-radius: 5px;
}
.Weather h1 {
  color: aquamarine;
  font-weight: 100;
  line-height: 80px;
  margin: 20px 0 0 0;
  display: block;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 500;
  line-height: 60px;
}

.Weather .units {
  font-size: 15px;
  font-family: 500;
  position: relative;
  margin-left: 5px;
  top: -30px;
}
