.Weather {
  border: 1px solid #000000;
  padding: 18px;
  border-radius: 5px;
  color: #f4f6ff;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
.Weather h1 {
  font-weight: 100;
  line-height: 80px;
  margin: 20px 0 0 0;
  display: block;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 22px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 500;
  line-height: 60px;
}
.checker {
  position: relative;
  left: 195px;
  text-align: center;
  color: #f4f6ff;
}

.Weather .units {
  font-size: 15px;
  font-family: 500;
  position: relative;
  margin-left: 5px;
  top: -30px;
  cursor: default;
}
.Weather .units:hover {
  text-decoration: none;
}
